@import "tailwindcss";
@tailwindcss base;
@tailwindcss utilities;
@tailwindcss components;

@font-face {
    font-family: pakFont;
    src: url( ../assets/fonts/CwciungwanaraSejati-OLDP.ttf);
}

@font-face {
     font-family: hardFont;
    src: url(../assets/fonts/Jawadwipaadisastra-3MVG.otf);
}

@font-face {
    font-family: freeFont;
    src: url(../assets/fonts/Freedom45-axRXg.ttf);
}

@font-face {
    font-family: eliFont;
    src: url(../assets/fonts/Eloquent-JFPro-.otf);
}

.textContainer {
    box-sizing: content-box;
    padding: 20;
    margin-left: 30 ;
    display: block, flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: none;
    height: fit-content;
    width: fit-content;
}

.artistWelcome {
    font-family: freeFont;
    font-size: larger;
    color: var(--color-yellow-400);
}

.artistName {
    font-family: hardFont;
    font-style: italic;
    font-size: var(--text-7xl);
    color: var(--color-purple-400);
    padding: var(--spacing-2);
}

.artistBio {
    font-size: var(--text-xl);
}

.mainMusic{
    columns: 1;
    padding: 20;
    justify-content: center;
    flex-direction: column;
}

.musicContainer {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex: none;
}

.sampleOne {
    padding: 8;
    height: 100%;
    width: 40%;
}

.sampleTwo {
    justify-self: center;
    padding: 10;
    height: 100%;
    width: 81%;
}

.scFirstDiv {
    font-size: 10px; 
    color: #ffffff;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 120;
}
.scArtistLink {
    color: #ffffff; 
    text-decoration: none;
}

.bioContainer {
    box-sizing: content-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:content;
    width: auto;
    height: auto;
}

.bioTextBox {
    width: auto;
    height: auto;
    padding: 10;
    font-family: eliFont;
    font-style:normal;
    font-size: 15;
    color: var(--color-amber-400);
    text-align: justify;
    flex-wrap: wrap;
}

.textArea {
    width: auto;
    height: auto;
    text-wrap: wrap;
}

.galleryContainer {
    justify-content: center;
    box-sizing: content-box;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:content;
    width: auto;
    height: auto;
}

.imageOne {
    width: auto;
    height: auto;
    margin-right: 40;
}

.imageTwo {
    width: auto;
    height: auto;
    margin-left: 40;
}
