/*
    ### Author: David Tompkins
    Landing Page CSS
    I am using a grid pattern to create this application 
    -- Anything related to "items" is grid related.
    -- No use of flex will be found here. 
*/
@import "tailwindcss";
@tailwindcss base;
@tailwindcss utilities;
@tailwindcss components;

.head {
    padding: 30px;
    height: 100%;
    width: 100%;
}

.headContainer {
    box-sizing: content-box;
    height: auto;
    width: auto;
    border-radius: var(--radius-lg);
    background-color: #000000cc;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.titleContainer {
    grid-column: span 3;
}

.bioContainer {
    grid-column: span 3;
    justify-self: center;
}

.galleryContainer {
    grid-column: span 3;
    justify-self: center;
}

.musicContainer{
    grid-column: span 3;
}
